<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:listener.properties"/>

    <bean id="SpaceMarineBean"
          class="com.learningSpring.SpaceMarine">
    </bean>

    <bean id="WolfBean"
          class="com.learningSpring.Wolf">
    </bean>

    <bean id="LionBean"
          class="com.learningSpring.Lion">
    </bean>

    <bean id="listener"
        class="com.learningSpring.Listener"  >
        <constructor-arg ref="SpaceMarineBean"/>
    </bean>

    <bean id="listenerViaSetter"
          class="com.learningSpring.Listener">
        <property name="creature" ref="WolfBean"></property>
    </bean>

    <bean id="listenerValues"
          class="com.learningSpring.Listener">
        <property name="creature" ref="LionBean"/>

        <property name="name" value="Simba"/>
        <property name="volume" value="40"/>
    </bean>

    <bean id="listenerViaProperties"
          class="com.learningSpring.Listener">
        <property name="creature" ref="SpaceMarineBean"/>

        <property name="name" value="${listenerViaProperties.name}"/>
        <property name="volume" value="${listenerViaProperties.volume}"/>
    </bean>

    <bean id="listenerList" class="com.learningSpring.Listener">
        <property name="creatures">
            <list value-type="ArrayList">
                <ref bean="WolfBean"/>
                <ref bean="LionBean"/>
                <ref bean="SpaceMarineBean"/>
            </list>
        </property>
    </bean>
</beans>
