<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="testBean"
          class="com.learningSpring.TestBean">
        <constructor-arg value="Tom"/>
    </bean>

    <bean id="creature"
          class="com.learningSpring.SpaceMarine">
    </bean>

    <bean id="listener"
        class="com.learningSpring.Listener"  >
        <constructor-arg ref="creature"/>
    </bean>
</beans>
